:root {
  --accent-color: #2196F3;
  --dark-color: #212121;
  --white-color: #ffffff;
  --grey-color: #757575;
}

body {
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
}

/* =========== HEADER =========== */
.head-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--dark-color);
}

.nav-link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.adress-link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--grey-color);
}
.adress-link:hover,
.adress-link:focus {
color: var(--accent-color);
}

.headline {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--white-color);
}

.adv-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}

.adv-text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--grey-color);
}

.title {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--dark-color);
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--dark-color);
} 

.team-pos {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--grey-color);
}

/* =========== FOOTER =========== */
.foot-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}
.logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
}
.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  }
  .contact-link:hover,
  .contact-link:focus {
  color: var(--accent-color);
  }
  .page-footer {
    background: #2F303A;
  }

  .filter-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    background: #f5f4fa;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
  }
  .filter-button:hover,
  .filter-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }

.title-port {
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-decoration: none;
color: var(--dark-color);
  }
.text-port {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--grey-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.current {
  color: var(--accent-color);
}
.city {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
